## AceleraDev DataScience - Semana 3

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('desafio1.csv')
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [3]:
df.shape

(7000, 12)

In [4]:
df2 = df[['estado_residencia','pontuacao_credito']].copy()
df2.head()

  estado_residencia  pontuacao_credito
0                SC                619
1                RS                608
2                SC                502
3                SC                699
4                RS                850

In [17]:
media = pd.DataFrame(df2.groupby('estado_residencia')['pontuacao_credito'].mean())
mediana = pd.DataFrame(df2.groupby('estado_residencia')['pontuacao_credito'].median())
moda = pd.DataFrame(df2.groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode))
desvio_padrao = pd.DataFrame(df2.groupby('estado_residencia')['pontuacao_credito'].std())

In [21]:
media.columns = ['media']
mediana.columns = ['mediana']
moda.columns = ['moda']
desvio_padrao.columns = ['desvio_padrao']

In [26]:
media=media.sort_values(by='estado_residencia',ascending=False)
mediana=mediana.sort_values(by='estado_residencia',ascending=False)
moda=moda.sort_values(by='estado_residencia',ascending=False)
desvio_padrao=desvio_padrao.sort_values(by='estado_residencia',ascending=False)

In [27]:
submission=pd.concat([moda,mediana,media,desvio_padrao],axis=1)
submission

                   moda  mediana       media  desvio_padrao
estado_residencia
SC                  850      653  649.537653      97.233493
RS                  850      650  651.105143      95.136598
PR                  850      650  648.961294      98.607186

In [31]:
submission.to_json(r'submission.json',orient='index')